<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/Inicio.css" rel="stylesheet" />
    <title>Mongo</title>
    <link rel="shortcut icon" href="/assets/img/MongoDB.png">
</head>
<body class="bodyI">
    <div class="contenido">
        <h1 class="h1">Bienvenido, ¡Aprende y pon a prueba los comandos de Mongo DB!</h1>
        <a href="/preguntas" class="boton"><button class="boton">Comenzar</button></a>
    </div>
</body>
</html>